/* Style for grid container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
  }
  
  /* Style for grid items */
  .grid-item {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  /* Style for section headings */
  section h2 {
    font-size: 1.5rem;
    margin-top: 0;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background: url("Images/wp8797510-quantum-computer-wallpapers.jpg") no-repeat center center;
    background-size: cover;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-size: 48px;
    margin-bottom: 10px;
  }
  
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }